body{
  background: #ff9de2;
}

h1{
 text-align: center;
}

p{
  text-align: center;
}

.croissants-image{
    max-width: 40%;
    border-radius: 20px;
    margin: 20px;
    display: block;
}

footer{
    text-align: center;
}

footer a{
    margin:0 10px;
    color: #11cbd7;
}